body,
html {
  height: 100%;
}
.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}
h1 {
  font-size: 3em;
}
#first-row {
  overflow: hidden;
  margin: 0 auto;
  white-space: nowrap;
  border-right: 2px solid transparent;
  animation: typing 2s steps(14, end), blinking-caret 0.5s 4 steps(1, end);
}
#second-row {
  overflow: hidden;
  margin: 0 auto;
  white-space: nowrap;
  width: 0%;
  border-right: 2px solid transparent;
  animation: typing 2s 2.5s forwards steps(14, end),
    blinking-caret 0.5s 2s 7 steps(1, end);
}
.text-container {
  width: fit-content;
}
@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
/* posso farlo durare un tot di secondi totali ma ripetersi in un ciclo piu' breve di quella durata? */
@keyframes blinking-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
.link-container li {
  display: inline;
}
/*
.link-container a {
  padding: 10px;
  border: 1px solid black;
  background-color: grey;
  color: white;
  text-decoration: none;
}
*/
/*
.first-link {
  animation: appear 1s 1s forwards steps(40, end);
  opacity: 0%;
}
.second-link {
  animation: appear 1s 3s forwards steps(40, end);
  opacity: 0%;
}
.third-link {
  animation: appear 1s 5s forwards steps(40, end);
  opacity: 0%;
}
.fourth-link {
  animation: appear 1s 7s forwards steps(40, end);
  opacity: 0%;
}
@keyframes appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.logo {
  height: 20px;
}
*/
